---
import "../styles/card-course.css";
interface Props {
    item: {
      id: number;
      title: string;
      text: string;
      link: string;
      autor: string;
      docs: string;
      icon: string;
      name: string;
    }
}
const { item } = Astro.props
---

    <div class="card-route-curso">
        <div class="details-course">
          <h2 class="title-curso">{item.title}</h2>
          {item.icon && <img
              src={item.icon}
              alt={item.name}
              width={30}
              height={30}
              class="icon-curso"
              loading="lazy"
            />
          }
        </div>
        <p class="autor-curso"><b>Autor:</b> {item.autor}</p>
        <p class="text-curso">{item.text}</p>
        <div class="links-curso">
          <a href={item.docs} target="_BLANK" rel="noopener noreferrer" class="link-curso">
            Documentación
          </a>
          <a href={item.link} target="_BLANK" rel="noopener noreferrer" class="link-curso">
            Curso
          </a>
        </div>
    </div>
